services:
  api:
    build:
      context: ../backend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
      - "5555:5555"
    env_file:
      - ../backend/.env
    depends_on:
      db:
        condition: service_healthy

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: eduhan
      POSTGRES_USER: eduhan
      POSTGRES_PASSWORD: eduhan
    ports:
      - "5432:5432"
    volumes:
      - eduhan_db:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U eduhan"]
      interval: 5s
      timeout: 5s
      retries: 5

volumes:
  eduhan_db:
