services:
  api:
    build:
      context: ..
      dockerfile: backend/Dockerfile
    ports:
      - "3000:3000"
      - "5555:5555"
    env_file:
      - ../backend/.env
    depends_on:
      - db

  db:
    image: postgres:15
    environment:
      POSTGRES_DB: eduhan
      POSTGRES_USER: eduhan
      POSTGRES_PASSWORD: eduhan
    ports:
      - "5432:5432"
    volumes:
      - eduhan_db:/var/lib/postgresql/data

volumes:
  eduhan_db:
